<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <div th:fragment="sidebar" class="sidebar">
    <nav>
        <ul>
            <li><a th:href="@{/}">🏠 Home</a></li>
            <li><a th:href="@{/leave-requests/create}">📝 Create Leave</a></li>
            <li sec:authorize="hasRole('MANAGER')">
                <a th:href="@{/company-agenda}">📅 Company Agenda</a>
            </li>
            <li><a th:href="@{/my-agenda}">📆 My Agenda</a></li>
            <li><a th:href="@{/leave-requests/request-list}">📋 Request List</a></li>
            <li><a th:href="@{/leave-requests/my-requests}">📄 My Requests</a></li>
            <li><a th:href="@{/employees}">👥 Employees</a></li>
            <li><a th:href="@{/my-account}">🔑 My Account</a></li> 
            <li><a th:href="@{/logout}">🚪 Logout</a></li>  
        </ul>
    </nav>
</div>

</html>
