<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Forgot Password</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <div class="login-container">
            <a th:href="@{/login}">Back to login</a>
            <p style="text-align: left">Forgot your account's password? Enter your email address and we'll send you a recovery link</p>
            <form th:action="@{/forgot-password}" method="post">
                <div class="input-group">
                    <input type="email" id="email" name="email" placeholder="Your email address" required>
                </div>
                <button type="submit" class="reset-btn">Recover <span class="arrow">→</span></button>
            </form>
        </div>
    </body>
</html>